@(listMenu: String, listProduct: String)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        @cssTag("style.min.css")
        @cssTag("animate.min.css")

    </head>
    <body>
        <div id="header"></div>
        <div id="main" class="clearfix">
            <div id="app"></div>
        </div>
        <div id="footer"></div>

        @jsTag("mithril/mithril.min.js")
        @jsTag("app.js")
        <script >
            var menu = @Html(listMenu);
            var listProduct1 = [];

//            setTimeout(function(){
                listProduct1 = @Html(listProduct);
                m.redraw();
//            }, 0);

            var demoSlide = listProduct1.slice(2, 6);

            m.route(document.querySelector('#app'), "/", {
                "/": window.Main.Home,
                "/dashboard": window.Main.Dashboard
            });

        </script>


    </body>
</html>