.h-container {
  width: 1000px;
  margin: 0 auto;
}

.h-left {
  float: right;
  width: 300px;
}
.h-right {
  float: right;
  width: 700px;
  min-height: 30px;
}

.h-top {
  height: 70px;
}

.h-bot {
  height: 40px;
}

.search {
  padding: 25px 0 0 230px;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  input[type="text"] {
    width: 250px;
    padding:6px 15px;
    border: 1px solid #dbdbdb;
    &:hover {
      border-color: $hover-link-color;
    }
  }
  input[type="button"] {
    width: 80px;
    padding:5px 5px;

  }
}

.navMenu{
  height: 40px;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    a {
      font: normal 20px 'UTMCafetaRegular';
      //font-family: Cafeta;
      //font-weight: bold;
      height: 40px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: center;

      &:hover {
        background: $top-menu-hover-active-background;
        color: $top-menu-hover-active-color;
      }
    }
  }
  .active {
    background: $top-menu-hover-active-background;
    color: $top-menu-hover-active-color;
  }
}



